---
import '../personal.css';
//import Boton from '../atoms/Boton.astro';
---

<section class="presentation">

	<div class="presentation__container">
		<div class="text__content">
			<h1 class="presentation__title color__gradiente">Luis Gonzalez</h1>
			<p class="presentation__text">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
			</p>
			<!-- <Boton href="#" texto="Quiero saber más"/> -->
		</div>
    <!-- <img
		class="presentation__img"
		src="/img/jhon-doe.webp"
		alt="Jhon Doe"
		width="384"
    	height="384"
	/> -->
	</div>
</section>
