---
import Logo from '../Logo.astro';
import SocialIcons from '../SocialIcons.astro';
import './Footer.css';
---

<footer class="ml-auto mr-auto flex justify-center items-center py-6">
	<div class="footer__container w-auto text-center">
	  <p class="text-gray-500 text-sm">
		"The only easy day was yesterday."
	  </p>
	</div>
  </footer>
