---
import Logo from '../Logo.astro';
import SocialIcons from '../SocialIcons.astro';
import './Footer.css';
---

<footer class="ml-auto mr-auto flex justify-center">
	<div class="footer__container w-auto">
		<SocialIcons width="23" height="23" />
	</div>
</footer>
