---
import './experience.css';
//import Boton from '../atoms/Boton.astro';
---

<section id="Experience" class="experience">
  <div class="ml-auto mr-auto mt-8 mb-8 flex justify-center items-center">
    <div class="w-3/4 sm:w-1/2">
      <h1 class="text-4xl">Experiencia</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      </p>
      <!-- <Boton href="#" texto="Quiero saber más"/> -->
    </div>
  </div>
</section>
