---
import "./presentation.css";
import SocialIcons from '../SocialIcons.astro';
//import Boton from '../atoms/Boton.astro';
---

<section style="padding: 6rem 2.2rem 0">
      <div class="ml-auto mr-auto mt-8 mb-8 flex justify-center items-center">
        <img
          class="presentation__img rounded-full"
          src="/img/luisgonz-profile.webp"
          alt="Luis Gonzalez"
          width="300"
            height="300"
        />
      </div>
      <div class="ml-auto mr-auto mt-8 mb-8 flex justify-center items-center">
          <SocialIcons width="50" height="50" />
      </div>
</section>
