---
import "./technologies.css";
//import Boton from '../atoms/Boton.astro';
---

<section id="Technologies" class="technologies">
  <div class="ml-auto mr-auto mt-8 mb-8 flex justify-center items-center">
    <div class="w-full sm:w-3/4">
      <h1 class="text-4xl font-bold text-center mb-8">Technologies</h1>
      <div class="w-full max-w-5xl mx-auto px-4 md:px-6 py-12 md:py-24">
        <div class="text-center">
          <!-- Logo Carousel animation -->
          <div 
          x-data="{}"
          x-init="$nextTick(() => {
              let ul = $refs.logos;
              ul.insertAdjacentHTML('afterend', ul.outerHTML);
              ul.nextSibling.setAttribute('aria-hidden', 'true');
          })"
          class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]">
            <ul x-ref="logos" class="flex items-center justify-center md:justify-start [&_li]:mx-2 [&_li]:md:mx-8 [&_img]:max-w-none animate-infinite-scroll">
                <li>
                    <img src="assets/angular.svg" class="tech-image" alt="Angular"/>
                </li>
                <li>
                  <img src="assets/react.svg" class="tech-image" alt="React"/>
                </li>
                <li>
                  <img src="assets/vue.svg" class="tech-image" alt="Vue"/>
                </li>
                <li>
                  <img src="assets/astro.svg" class="tech-image" alt="Astro"/>
                </li>
                <li>
                  <img src="assets/tailwindcss.svg" class="tech-image" alt="TailwindCSS"/>
                </li>
                <li>
                    <img src="assets/html.svg" class="tech-image" alt="Html"/>
                </li>
                <li>
                    <img src="assets/css.svg" class="tech-image" alt="CSS"/>
                </li>
                <li>
                  <img src="assets/javascript.svg" class="tech-image" alt="Javascript"/>
                </li>
                <li>
                  <img src="assets/typescript.svg" class="tech-image" alt="Typescript"/>
                </li>
                <li>
                  <img src="assets/nodejs.svg" class="tech-image" alt="Nodejs"/>
              </li>
            </ul>
          </div>
          <!-- End: Logo Carousel animation -->
        </div>
      </div>
    </div>
  </div>
</section>

