---

import Footer from '../sections/Footer/Footer.astro';
import Header from '../sections/header/Header.astro';
import Presentation from '../sections/presentation/presentation.astro';
import Technologies from '../sections/technologies/technologies.astro';
import Projects from '../sections/projects/projects.astro';
import Experience from '../sections/experience/experience.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Luis Gonzalez | Fullstack Developer">
	<Header/>
	<main class="relative min-h-screen flex flex-col justify-center overflow-hidden">
			<Presentation />
			<Technologies />
			<Experience />
			<Projects />
	</main>
	<Footer/>
</Layout>
