---
import './card.css';
---

<div class="card h-full">
    <div class="card-header h-2/4">
        <img src="https://static4.depositphotos.com/1013501/430/i/450/depositphotos_4308060-stock-photo-project.jpg" alt="Project 1">
    </div>
    <div class="car-body h-1/4">

        <p>Card body</p>
    </div>
    <div class="card-footer h-1/4">
        <p>Card footer</p>
    </div>
</div>