---
import "../styles/global.css"
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="title" content="Luis González | Fullstack Developer" />
		<meta property="og:title" content="Luis González | Fullstack Developer" />
		<meta property="og:description" content="My professional portfolio: projects, skills and experience in frontend development." />
		<meta property="og:image" content="/img/luisgonz-logo.png" />
		<meta property="og:url" content="https://luisgonz.netlify.app/" />
		<meta property="og:type" content="website" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Luis González | Fullstack Developer" />
		<meta name="twitter:description" content="My professional portfolio: projects, skills and experience in frontend development." />
		<meta name="twitter:image" content="/img/luisgonz-logo.png" />

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>

		<script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
		<title>{title}</title>
	</head>
	<body class="overflow-x-hidden">
			<slot/>
	</body>
</html>
